@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background-color: var(--colorBodyBase);
  color: var(--colorWhite);
}

.container {
  max-width: calc(var(--containerWidth) + var(--containerPadding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--containerPadding-x);
}

a,
button,
input,
svg {
  transition-duration: var(--tranDur);
  transition-timing-function: var(--tranTf);
}

::after,
::before {
  transition-duration: var(--tranDur);
  transition-timing-function: var(--tranTf);
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
}

a {
  text-decoration: none;
  border: none;
  color: inherit;
}

a,
button {
  cursor: url(./../../img/cursor.png), pointer;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

:root {
  --colorWhite: #fff;
  --colorBodyBase: #000915;
  --colorBtn: #9C0332;
  --colorBtnHover: #EB443F;
  --tranDur: 0.2s;
  --tranTf: ease-in-out;
  --BrImg: 16px;
  --containerWidth: 1200px;
  --containerPadding-x: 15px;
  --lineHeightNormal: 1.28;
  --tabletPaddingSection: 128px;
}

button {
  font-size: 18px;
  line-height: 22px;
  padding-block: 13px;
  padding-inline: 74px;
  background-color: var(--colorBtn);
  border-radius: 30px;
}
@media (hover: hover) {
  button:hover {
    background-color: var(--colorBtnHover);
  }
}
@media (hover: none) {
  button:active {
    background-color: var(--colorBtnHover);
  }
}

.banner {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.355%, rgb(0, 0, 0) 100%), url(./../img/bannerBg.jpeg) center/cover no-repeat;
  color: var(--colorWhite);
}
.banner__body {
  padding-top: 220px;
  padding-bottom: 490px;
}
@media (max-width: 1280px) {
  .banner__body {
    padding-top: 200px;
    padding-bottom: 400px;
  }
}
@media (max-width: 1024px) {
  .banner__body {
    padding-top: 180px;
    padding-bottom: 280px;
  }
}
.banner__title {
  font-size: clamp(32px, 4.4444444444vw, 64px);
  line-height: 78px;
}
@media (max-width: 1280px) {
  .banner__title {
    line-height: var(--lineHeightNormal);
  }
}
.banner__desc {
  font-size: clamp(14px, 1.25vw, 18px);
  font-weight: 300;
  max-width: 480px;
  padding-top: 32px;
  padding-bottom: 44px;
  line-height: 32px;
}
.banner__desc--textBold {
  font-weight: 700;
  color: var(--colorWhite);
}
@media (max-width: 1024px) {
  .banner__desc {
    line-height: var(--lineHeightNormal);
    max-width: 345px;
  }
}
@media (max-width: 1280px) {
  .banner__desc {
    padding-top: 10px;
    padding-bottom: 25px;
  }
}

.seasons {
  padding-block: 230px;
}
@media (max-width: 1280px) {
  .seasons {
    padding-block: 180px;
  }
}
@media (max-width: 1024px) {
  .seasons {
    padding-block: var(--tabletPaddingSection);
  }
}
.seasons__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.seasons__body {
  max-width: 585px;
}
.seasons__title {
  font-size: clamp(32px, 3.3333333333vw, 48px);
}
.seasons__desc {
  font-size: clamp(14px, 1.25vw, 18px);
  font-weight: 300;
  line-height: 32px;
  padding-block: 32px;
}
@media (max-width: 1280px) {
  .seasons__desc {
    padding-block: 14px;
  }
}
@media (max-width: 1024px) {
  .seasons__desc {
    max-width: 345px;
    line-height: var(--lineHeightNormal);
  }
}

.game__content {
  padding-block: var(--tabletPaddingSection);
}
.game__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 1280px) {
  .game__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.game__link {
  position: relative;
}
.game__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0), rgb(0, 25, 68) 100%);
  border-radius: var(--BrImg);
  z-index: 10;
  outline: 3px solid transparent;
}
@media (hover: hover) {
  .game__link:hover::after {
    outline: 3px solid rgb(68, 210, 255);
  }
}
@media (hover: none) {
  .game__link:active::after {
    outline: 3px solid rgb(68, 210, 255);
  }
}
.game__img {
  border-radius: var(--BrImg);
}
.game__text {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: var(--colorWhite);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  z-index: 20;
}/*# sourceMappingURL=style.css.map */