body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.container {
  max-width: calc(var(--containerWidth) + var(--containerPadding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--containerPadding-x);
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
}

a {
  text-decoration: none;
  border: none;
  color: inherit;
}

a, 
button {
  cursor: url(./../../img/cursor.png), pointer;
}