:root {
  --colorWhite: #fff;
  --colorBodyBase: #000915;
  --colorBtn: #9C0332;
  --colorBtnHover: #EB443F;

  --tranDur: 0.2s;
  --tranTf: ease-in-out;
  --BrImg: 16px;

  --containerWidth: 1200px;
  --containerPadding-x: 15px;

  --lineHeightNormal: 1.28;
  --PaddingSection: 128px;

  @include mobile {
    --PaddingSection: calc(136px / 2);
  }
}