.banner {
  background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) -7.355%, rgb(0, 0, 0) 100%), url(./../img/bannerBg.jpeg) center/cover no-repeat;
  color: var(--colorWhite);

  &__body {
    padding-top: 220px;
    padding-bottom: 490px;
  }

  &__title {
    font-size: 64px;
    line-height: 78px;
  }

  &__desc {
    font-weight: 300;
    max-width: 480px;
    padding-top: 32px;
    padding-bottom: 44px;
    line-height: 32px;

    &--textBold {
      font-weight: 700;
      color: var(--colorWhite);
    }
  }
}